name: Run python tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run_python_tests:
    name: Run python tests on ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.9', '3.13' ]

    steps:

      - name: checkout repo & submodules
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: display Python version
        run: python --version

      - name: install system packages
        run: |
          sudo apt -y update
          sudo apt -y install libboost-dev

      - name: install python dependencies
        run: |
          pip install --upgrade pip setuptools wheel
          pip install cmake ninja

      - name: install threads with dev dependencies
        run: |
          pip install ".[dev]"

      - name: run python tests
        run: |
          pytest test -v -s
